/* author:linkaizhe */
.header .header-inside {
    padding: 2.25rem 3.125rem;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #bed2dd;
    -webkit-transition: background-color .3s ease-in-out;
    transition: background-color .3s ease-in-out;
}
.header .header-inside.transparent_header {
    background-color: transparent;
}
.header .header-inside .menu-toggler,
.header .header-inside .nav-meta {
    width: 20%;
}
.toggler {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}
.toggler .kt-r {
    margin-right: 15px;
}
.toggler .kt-r span {
    background-color: #fff;
    width: 30px;
    height: 3px;
    margin-bottom: 7px;
    display: block;
}
.toggler .kt-r span:last-child {
    margin-bottom: 0;
}
.offcanvas-nav-container {
    height: calc(100% - 80px);
}

.player {
    position: fixed;
    z-index: 102;
    bottom: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient(0deg,#5a8ea3,#fff);
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-top: 1px solid #5a8ea3;
    transform: translateY(100%);
    transition: transform .5s ease;
}
.player_cover {
    width: 100%;
    max-width: 90px;
}
.player_cover img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 12px;
    margin-bottom: 10px;
}
.player_track {
    font-size: 16px;
    line-height: 24px;
    display: block;
    width: 100%;
    text-align: center;
    font-weight: 400;
    color: #c0c0c0;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}
.player_track b {
    font-weight: 600;
    color: #fff;
}
.player_content {
    width: 100%;
}

.underline_animation.underline_text,
.underline_animation .underline_text {
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 0 2px;
    background-image: -webkit-gradient(linear, left top, right top, from(currentColor), to(currentColor));
    background-image: linear-gradient(to right, currentColor 0, currentColor 100%);
    -webkit-transition: background-size .5s ease-in-out;
    transition: background-size .5s ease-in-out;
}
.underline_animation:hover.underline_text,
.underline_animation:hover .underline_text {
    background-size: 100% 2px;
}
.underline-right {
    position: relative;
}
.underline-right:after {
    content: "";
    background-color: #316ce2;
    height: 5px;
    width: 80%;
    position: absolute;
    left: auto;
    right: 0;
    bottom: -.75rem;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
.underline-left {
    position: relative;
}
.underline-left:after {
    content: "";
    background-color: #316ce2;
    height: 5px;
    width: 80%;
    position: absolute;
    right: auto;
    left: 0;
    bottom: -.75rem;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
.undertline-center {
    position: relative;
}
.undertline-center:after {
    content: "";
    background-color: #316ce2;
    height: 5px;
    width: 80%;
    position: absolute;
    right: auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: -.75rem;
}
.underline-big:after {
    bottom: -3.125rem !important;
}

@media(min-width:576px) {
    .underline-sm-right {
        position: relative;
    }

    .underline-sm-right:after {
        content: "";
        background-color: #316ce2;
        height: 5px;
        width: 80%;
        position: absolute;
        left: auto;
        right: 0;
        bottom: -.75rem;
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    .underline-sm-left {
        position: relative;
    }

    .underline-sm-left:after {
        content: "";
        background-color: #316ce2;
        height: 5px;
        width: 80%;
        position: absolute;
        right: auto;
        left: 0;
        bottom: -.75rem;
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    .underline-sm-center {
        position: relative;
    }

    .underline-sm-center:after {
        content: "";
        background-color: #316ce2;
        height: 5px;
        width: 80%;
        position: absolute;
        right: auto;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        bottom: -.75rem
    }

    .underline-sm-big:after {
        bottom: -3.125rem !important
    }
}
@media(min-width:768px) {
    .underline-md-right {
        position: relative;
    }

    .underline-md-right:after {
        content: "";
        background-color: #316ce2;
        height: 5px;
        width: 80%;
        position: absolute;
        left: auto;
        right: 0;
        bottom: -.75rem;
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    .underline-md-left {
        position: relative;
    }

    .underline-md-left:after {
        content: "";
        background-color: #316ce2;
        height: 5px;
        width: 80%;
        position: absolute;
        right: auto;
        left: 0;
        bottom: -.75rem;
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    .underline-md-center {
        position: relative;
    }

    .underline-md-center:after {
        content: "";
        background-color: #316ce2;
        height: 5px;
        width: 80%;
        position: absolute;
        right: auto;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        bottom: -.75rem
    }

    .underline-md-big:after {
        bottom: -3.125rem !important;
    }
}

@media(min-width:992px) {
    .underline-lg-right {
        position: relative;
    }

    .underline-lg-right:after {
        content: "";
        background-color: #316ce2;
        height: 5px;
        width: 80%;
        position: absolute;
        left: auto;
        right: 0;
        bottom: -.75rem;
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    .underline-lg-left {
        position: relative;
    }

    .underline-lg-left:after {
        content: "";
        background-color: #316ce2;
        height: 5px;
        width: 80%;
        position: absolute;
        right: auto;
        left: 0;
        bottom: -.75rem;
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    .underline-lg-center {
        position: relative;
    }

    .underline-lg-center:after {
        content: "";
        background-color: #316ce2;
        height: 5px;
        width: 80%;
        position: absolute;
        right: auto;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        bottom: -.75rem
    }

    .underline-lg-big:after {
        bottom: -3.125rem !important;
    }
}

@media(min-width:1200px) {
    .underline-xl-right {
        position: relative;
    }

    .underline-xl-right:after {
        content: "";
        background-color: #316ce2;
        height: 5px;
        width: 80%;
        position: absolute;
        left: auto;
        right: 0;
        bottom: -.75rem;
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    .underline-xl-left {
        position: relative;
    }

    .underline-xl-left:after {
        content: "";
        background-color: #316ce2;
        height: 5px;
        width: 80%;
        position: absolute;
        right: auto;
        left: 0;
        bottom: -.75rem;
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    .underline-xl-center {
        position: relative;
    }

    .underline-xl-center:after {
        content: "";
        background-color: #316ce2;
        height: 5px;
        width: 80%;
        position: absolute;
        right: auto;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        bottom: -.75rem
    }

    .underline-xl-big:after {
        bottom: -3.125rem !important
    }
}

@media(min-width:1400px) {
    .underline-xxl-right {
        position: relative;
    }

    .underline-xxl-right:after {
        content: "";
        background-color: #316ce2;
        height: 5px;
        width: 80%;
        position: absolute;
        left: auto;
        right: 0;
        bottom: -.75rem;
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    .underline-xxl-left {
        position: relative;
    }

    .underline-xxl-left:after {
        content: "";
        background-color: #316ce2;
        height: 5px;
        width: 80%;
        position: absolute;
        right: auto;
        left: 0;
        bottom: -.75rem;
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    .underline-xxl-center {
        position: relative;
    }

    .underline-xxl-center:after {
        content: "";
        background-color: #316ce2;
        height: 5px;
        width: 80%;
        position: absolute;
        right: auto;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        bottom: -.75rem
    }

    .underline-xxl-big:after {
        bottom: -3.125rem !important;
    }
}


.fit-cover {
    -o-object-fit: cover;
    object-fit: cover;
}
.fit-left-top {
    -o-object-position: left top;
    object-position: left top;
}