/* author:linkaizhe */
.header .header-inside {
    padding: 2.25rem 3.125rem;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #01010d;
    -webkit-transition: background-color .3s ease-in-out;
    transition: background-color .3s ease-in-out;
}
.header .header-inside.transparent_header {
    background-color: transparent;
}
.header .header-inside .menu-toggler,
.header .header-inside .nav-meta {
    width: 20%;
}
.toggler {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}
.toggler .kt-r {
    margin-right: 15px;
}
.toggler .kt-r span {
    background-color: #fff;
    width: 30px;
    height: 3px;
    margin-bottom: 7px;
    display: block;
}
.toggler .kt-r span:last-child {
    margin-bottom: 0;
}
.toggler .kt-t {
    font-size: 1.25rem;
    font-weight: 500;
    text-transform: uppercase;
}