html {
    -webkit-text-size-adjust: auto;
    -ms-text-size-adjust: auto;
}
html,
body {
    height: 100%;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background-color: #16151a;
}
button {
    padding: 0;
    border: none;
    background-color: transparent;
    transition: 0.5s ease;
    transition-property: color, background-color, border-color, box-shadow;
    cursor: pointer;
}
button:focus {
    outline: none;
}
a {
    transition: 0.5s ease;
    transition-property: color, background-color, border-color, box-shadow;
}
a:hover,
a:active,
a:focus {
    outline: none;
    text-decoration: none;
}
input,
textarea,
select {
    padding: 0;
    margin: 0;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    transition: 0.5s ease;
    transition-property: color, background-color, border-color, box-shadow;
}
input:focus,
textarea:focus,
select:focus {
    outline: none;
}
select::-ms-expand {
    display: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
::-moz-selection {
    background: #fff;
    color: #222227;
    text-shadow: none;
}
::selection {
    background: #fff;
    color: #222227;
    text-shadow: none;
}
::-webkit-input-placeholder {
    color: #c0c0c0;
    opacity: 1;
}
::-moz-placeholder {
    color: #c0c0c0;
    opacity: 1;
}
:-moz-placeholder {
    color: #c0c0c0;
    opacity: 1;
}
:-ms-input-placeholder {
    color: #c0c0c0;
    opacity: 1;
}
:focus {
    outline: -webkit-focus-ring-color auto 0px;
}
body::-webkit-scrollbar {
    width: 16px;
}
body::-webkit-scrollbar-track {
    background: #222227;
}
body::-webkit-scrollbar-thumb {
    background-color: #c0c0c0;
    outline: 1px solid #222227;
}




.header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: auto;
    height: 70px;
    background-color: #16151a;
    border-bottom: 1px solid #222227;
    z-index: 101;
}
.header_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
    padding: 0 15px;
}
.header_logo {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 70px;
    width: 100%;
}
.header_logo img {
    width: 30px;
    height: auto;
    display: block;
}
.header_nav {
    display: none;
}
.header_search {
    position: absolute;
    left: 0;
    top: -71px;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #16151a;
    z-index: 1;
    padding: 0 15px;
    border-bottom: 1px solid #222227;
    transition: top 0.5s ease;
}
.header_search input {
    width: calc(100% - 300%);
    height: 40px;
    background-color: #222227;
    color: #fff;
    font-size: 16px;
    border-radius: 12px;
    border: none;
    padding: 0 20px;
    font-family: 'Inter', sans-serif;
}
.header_search input:focus {
    border-color: #fff;
}
.header_search button {
    position: absolute;
    right: 60px;
    top: 15px;
    height: 40px;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.header_search button svg {
    width: 20px;
    height: auto;
    fill: #c0c0c0;
    transition: 0.5s ease;
}
.header_search button:hover svg {
    fill: #25a56a;
}
.header_search button.close {
    right: 15px;
}
.header_search--active {
    top: 0;
}
.header_btn {
    position: absolute;
    width: 24px;
    height: 22px;
    display: block;
    right: 15px;
    top: 24px;
}
.header_btn span {
    position: absolute;
    right: 0;
    width: 24px;
    height: 2px;
    background-color: #c0c0c0;
    border-radius: 2px;
    transition: 0.5s ease;
}



.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #16151a;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 101;
    width: 280px;
    transform: translateX(-100%);
    transition: transform 0.5s ease;
    border-right: 1px solid #222227;
}
.sidebar_logo {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 70px;
    width: 100%;
    padding: 0 30px 0 15px;
    border-bottom: 1px solid #222227;
}
.sidebar_logo img {
    width: 40px;
    height: auto;
    display: block;
}
.sidebar_nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    padding: 30px 0 0;
    width: 100%;
    max-height: calc(100vh - 150px);
    overflow-y: auto;
}
.sidebar_nav-link {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
    color: #c0c0c0;
    font-family: 'Inter', sans-serif;
    margin-left: 15px;
    transition: 0.4s ease;
    position: relative;
}



.player {
    position: fixed;
    z-index: 102;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #16151a;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-top: 1px solid #222227;
    transform: translateY(100%);
    transition: transform 0.5s ease;
}
.player_cover {
    width: 100%;
    max-width: 90px;
}
.player_cover img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 12px;
    margin-bottom: 10px;
}



.main {
    position: relative;
    margin-top: 70px;
    padding: 20px 0 60px;
}
.main_title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-bottom: 10px;
    margin-top: 60px;
}
.main_title h1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 30px;
    line-height: 140px;
    margin-bottom: 0;
    position: relative;
}